<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建 redis 模板操作对象-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!--连接redis ,参数配置-->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="password" value="123456"/>
        <property name="hostName" value="47.93.226.204"/>
        <property name="port" value="6379"/>
        <property name="poolConfig" ref="poolConfig"/>
    </bean>

    <bean id="redisUtil" class="com.zmj.wine.utils.RedisUtil">
        <property name="redisTemplate" ref="redisTemplate"></property>
    </bean>

    <!--连接池配置-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxWaitMillis" value="10000"/>
        <property name="maxTotal" value="200"/>
        <property name="maxIdle" value="2000"/>
    </bean>

</beans>