 .login-box
    {
        height: auto;
        padding: 0 50px;
        margin: 0 auto;
        position: relative;
        z-index: 4;
        width: 420px;
        color: #666666;
        background: #fff;
        overflow: hidden;
        font-size: 12px;
    }
    
    .login-title
    {
        text-align: center;
        font-size: 16px;
        color: #DD3E42;
        font-weight: 900;
        width: 420px;
        height: 30px;
    }
    .login-note
    {
        height: 24px;
        border: 1px solid #F29C9D;
        background: #FFF5F4;
        width: auto;
        display: inline-block;
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
    .login-note em
    {
        background: url(../img/note.png) no-repeat;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: 3px;
        margin-left: 5px;
        float: left;
        cursor: pointer;
    }
    .login-note span
    {
        color: #F29C9D;
        display: block;
        float: left;
        line-height: 24px;
        margin-left: 5px;
        margin-right: 10px;
        font-family: "ו";
    }
    .login-zhbox
    {
        width: 420px;
        height: 54px;
        margin-top: 3px;
        margin-bottom: 15px;
        position: relative;
    }
    #loginzh
    {
        width: 418px;
        height: 52px;
        border: 1px solid #CCCCCC;
        text-align: left;
        text-indent: 20px;
        line-height: 54px;
        border-radius: 3px;
        color: #4C4C4C;
    }
    .login-mmbox
    {
        width: 420px;
        height: 54px;
        margin-bottom: 10px;
        position: relative;
    }
    #loginmm
    {
        width: 418px;
        height: 52px;
        border: 1px solid #CCCCCC;
        text-align: left;
        text-indent: 20px;
        line-height: 54px;
        border-radius: 3px;
        color: #4C4C4C;
    }
    .login-yzmbox
    {
        width: auto;
        height: 30px;
        line-height: 30px;
        margin-bottom: 12px;
    }
    .login-yzmbox #loginyzm
    {
        width: 157px;
        height: 28px;
        border: 1px solid #CCCCCC;
        color: #4C4C4C;
        margin-right: 12px;
        text-indent: 20px;
        float: left;
    }
    .login-yzmbox img
    {
        width: 75px;
        height: 26px;
        float: left;
        float: left;
        margin-right: 12px;
        margin-top: 2px;
    }
    .login-yzmbox a
    {
        color: #4C4C4C;
        cursor: pointer;
        float: left;
    }
    .login-loginbtn
    {
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
    }
    #loginbtn
    {
        width: 150px;
        height: 40px;
        color: #FFFFFF;
        background: #E73737;
        text-align: center;
        font-size: 15px;
        float: left;
        margin-right: 15px;
        cursor: pointer;
    }
    .login-loginbtn p
    {
        cursor: pointer;
        float: right;
    }
    .login-loginbtn em
    {
        color: #E73737;
        cursor: pointer;
    }
    .login-loginbtn em a{color: #E73737;}
     .login-loginbtn p a{color: #666666;}
    
    .login-forQQ #QQlogin
    {
        text-decoration: none;
        margin-left: 80px;
        margin-top: 30px;
        line-height: 39px;
        font-size: 12px;
        color: #332E2E;
        display: block;
        float: left;
    }
    .login-forQQ #QQlogin em
    {
        width: 39px;
        height: 39px;
        display: block;
        background: url(../img/qq.png) no-repeat;
        float: left;
    }
    .login-forzfb #zfblogin
    {
        text-decoration: none;
        margin-left: 70px;
        margin-top: 30px;
        line-height: 39px;
        font-size: 12px;
        color: #332E2E;
        display: block;
        float: left;
    }
    .login-forzfb #zfblogin em
    {
        width: 39px;
        height: 39px;
        display: block;
        background: url(../img/zfb.png) no-repeat;
        float: left;
    }
    .login-zhbox .zhicon
    {
        position: absolute;
        top: 15px;
        right: 16px;
        background: url(../img/icon.jpg) no-repeat;
        width: 27px;
        height: 27px;
        z-index: 20;
        background-position: -27px 0px;
    }
    .login-zhbox .zhfocus
    {
        background-position: 0px 0px;
    }
    .login-mmbox .mmicon
    {
        position: absolute;
        top: 15px;
        right:13px;
        background: url(../img/icon.jpg) no-repeat;
        width: 30px;
        height: 27px;
        z-index: 20;
        background-position: -27px -27px;
    }
    .login-mmbox .mmfocus
    {
        background-position: 0px -27px;
    }