body{font-family: "微软雅黑";}
.searchbox{
	font-size: 12px;width: 1180px;height: auto;color: #848484;
	background: #FFFFFF;font-family:"微软雅黑";margin: 0 auto;
	
}
.search-tit{
	color: #333333;font-family: "微软雅黑";height: 40px;width: 100%;text-indent: 15px;
	border-bottom: 1px dashed #D4D4D4;line-height: 40px;text-indent: 10px;
}
.search-tit em{
	color: #DD3F45;text-indent: 15px;
}
.search-hassel{
	height: 40px;width: 100%;font-size: 12px;
	border-bottom: 1px dashed #D4D4D4;line-height: 41px;
}
.search-hassel-tit{
	margin-right: 30px;text-indent: 15px;text-indent: 15px;
}
.search-selected{
	height: 23px;border: 1px solid #D4D4D4;margin-top: 7px;color: #333333;
	line-height: 22px;padding-left: 5px;padding-right: 5px;cursor: pointer;
	display: block;
}
.search-selected em{
	color: #DD3F45;
}
.search-selected span{
	background: #DD3F45;color: #FFFFFF;padding-left: 4px;padding-right: 4px;
}
.search-rqpp{
	width: 100%;font-size: 12px;padding-bottom: 10px;
	border-bottom: 1px dashed #D4D4D4;overflow: hidden;font-family: "微软雅黑";
}


.search-rqpp-tit{
	line-height: 140px;margin-right: 30px;text-indent: 15px;text-indent: 15px;
	position: relative;
}
.search-rqpp .rqpp-table{
	width: 1000px;max-height:120px;margin-top: 20px;float: left;overflow: hidden;
}
.search-rqpp .rqpp-table li{display: block;margin-bottom:7px;float: left;width: 98px;height: 33px;}
.search-rqpp .rqpp-table li a{
	width: 98px;height: 31px;
	line-height: 32px;text-align: center;float: left;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	cursor: pointer;
	display: block;color: #848484;
}


.search-rqpp .rqpp-table li a:hover{
	background: #DD3F45;color: #FFFFFF;
}
.rqpp-table li:nth-child(10n+0) a{
	border-right: 1px solid #D4D4D4;
}
.search-rqpp .rqpp-table li:last-child a{
	border-right: 1px solid #D4D4D4;
}
.search-rqpp .rtbox{width: 80px;}
.rqpp-more{
	margin-top: 20px;margin-right: 10px;cursor: pointer;
	border: 1px solid #D4D4D4;padding: 2px 10px;
}
.search-item{
	width: 70px;border: 1px solid #CCCCCC;
    height: 18px;position: absolute;left: 12px;top:27px;
}
.search-item em{
	width: 15px;height: 15px;background: url(../img/fdj.png);
	display: inline-block;margin-top: 2px;margin-left: 2px;float: left;
}
.search-item input{
	width: 50px;height: 15px;border: none;vertical-align: top;float: left;
	margin-top: 1px;margin-left: 3px;color: #848484;font-size: 12px;
}
.search-cd{
	width: 100%;border-bottom: 1px dashed #D4D4D4;
	font-family: "微软雅黑";
}
.search-cd-tit{
	line-height: 26px;width: 87px;text-indent: 15px;text-indent: 15px;
}
.cd-table {width: 1000px;height: auto;}
.cd-table li a{
	display: block;float: left;margin-right: 15px;
	padding-left:10px ;padding-right: 10px;text-align: center;
	color: #848484;padding-bottom: 5px;padding-top: 5px;
}
.cd-table li a:hover{
	background: #DD3F45;color: #FFFFFF;
}
.search-xx{
	width: 100%;border-bottom: 1px dashed #D4D4D4;
	font-family: "微软雅黑";
}
.search-xx-tit{
	line-height: 26px;width: 87px;text-indent: 15px;text-indent: 15px;
}
.xx-table {width: 1000px;height: auto;}
.xx-table li a{
	display: block;float: left;margin-right: 15px;
	padding-left:10px ;padding-right: 10px;text-align: center;
	color: #848484;padding-bottom: 5px;padding-top: 5px;
}
.xx-table li a:hover{
	background: #DD3F45;color: #FFFFFF;
}
.search-gdxx{
	width: 100%;height: 65px;
	font-family: "微软雅黑";
}
.search-gdxx-tit{
	line-height: 65px;width: 96px;;text-indent: 15px;
}
.gdxx-table>li{
	width: 98px;height: 28px;text-align: center;
	line-height: 30px;float: left;border: 1px solid #D4D4D4;
	border-right: none;margin-top: 18px;cursor: pointer;position: relative;
}
.gdxx-table>li:last-child{
	border-right: 1px solid #D4D4D4;
}
.gdxx-table>li ul{
	width:1100px;position: absolute; 
	border: 1px solid #D4D4D4;left: -1px;top: 28px;
	display: none;background: #ffffff;
}
.gdxx-table>li ul li a{
	display: block;float: left;margin-right: 15px;
	padding-left:10px ;padding-right: 10px;text-align: center;
	color: #848484;
}
.gdxx-table>li ul li a:hover{
	background: #DD3F45;color: #FFFFFF;
}
.gdxx-table>li:nth-child(3) ul{
	left: -199px;
}
.gdxx-table>li:nth-child(2) ul{
	left: -100px;
}
.gdxx-table>li:nth-child(4) ul{
	left: -298px;
}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
.listbox{
	width: 100%;height: auto;color: #333333;
	background:#F5F5F5 ;font-size: 13px;font-family:"微软雅黑";
	padding-bottom: 30px;
}
.listbox-mian{
	width:1180px;height: auto;
	margin: 0 auto;
}
.listbox-sort{
	width: 1180px;height: 90px;line-height: 80px;
}
.listbox-sort>span:first-child{text-indent: 15px;}
.sort-box{
	width: auto;height:auto;border: 1px solid #CCCCCC;
	line-height: 28px;margin-top:26px;margin-left: 15px;
	border-radius: 3px;
}
.sort-box a{
	width: 84px;border-right:1px solid #CCCCCC;display: block;float: left;
	text-align: center;height: 28px;color: #333333;
}
.sort-box a:last-child{
	border: none;
}
.sort-box .select{
	background: #AEAEAE;color:#ffffff;
}
#seehas{
	margin-top: 35px;margin-left: 30px;margin-right:8px;border-radius: 2px;
	background: #CCCCCC;
}
.product-list{
	width: 1178px;height: auto;border-right: 1px solid #CCCCCC;
	margin: 0 auto;border-top: 1px solid #CCCCCC;
	background: #FFFFFF;border-bottom: 1px solid #CCCCCC;
}
.product-list .prolist .proitem{
	width: 293px;height: 438px;border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;float: left;cursor: pointer;    box-sizing: border-box;
}
.product-list .prolist .proitem:hover{
	border-bottom:3px solid #CF010E; box-sizing:border-box;
}
.product-list .prolist li:last-child{border-right:1px solid #CCCCCC;}
.proitem .itembox{
	padding-left: 30px;padding-top: 30px;width:auto;
	height: auto;
}
.itembox .itemname{
	width: 240px;display: block;font-family: "微软雅黑";
	font-size: 12px;line-height: 23px;height: 46px;margin-top:15px;
    text-overflow:ellipsis;  overflow:hidden; 
}
.itembox .itemname em{
	color: #A1A1A1;
}
.itembox .pretype{
	width: 240px;display: block;font-family: "微软雅黑";
	font-size: 12px;line-height: 23px;color: #DC3334;
	margin-top: 5px;
}
.itembox .pretype em{
	background: url(../img/pro-icon.png);color: #FFFFFF;
	width: 16px;height: 18px;display: inline-block;
	line-height: 18px;text-align: center;margin-right: 8px;
}
.itembox .itemprice{
	width: 155px;display: block;margin-top: 10px;
}
.itemprice em{
	color:#DC3334;font-size: 13px;
}
.itemprice span{
	color:#DC3334;font-size:25px;margin-right: 5px;
}
.itemprice span:last-child{
    /*
	color:#656664;font-size:13px;text-decoration:line-through
        */
}
.addshopcar{
	width: 80px;height: 30px;line-height: 30px;color: #FFFFFF;
	background: #E73736;margin-top: 10px;text-align: center;
	font-size: 12px;cursor: pointer;
}
.addshopcar:hover{
	background: #C10F0E;
}
.assnum{
	color: #9B9B9B;font-size: 12px;margin-top: 10px;display: block;
}
.nosearch{
	width: 1180px;height: 135px;text-align: center;margin: 0 auto;
	overflow: hidden;padding-top: 65px;
}
.nosearch span{
	font-size: 12px;color: #A5A5A5;font-size: 29px;height: 25px;
}
.nosearch a{
    color: #F25960;font-size: 12px;margin-right: 20px;
}
.commendlist{
	width: 1180px;line-height: 60px;margin: 0 auto;
}
.commendlist span{
	color:#A5A5A5;font-size: 20px;text-indent: 30px;width: 1180px;display: inline-block;
}
.imgline{
	margin: 0 auto;height:9px;background: url(../img/line.png); 
}
.itembox>img{
	width: 235px;height: 235px;
}
.gdxx-table > li ul li{
	float: left;
}
.proitem_a {

    color:black;
}



.search-cd {
   padding:3px 0;
}

.search-rqpp .rqpp-table .show a{
    width: 98px;height: 31px;
	line-height: 32px;text-align: center;float: left;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	border-right: none;
	margin-bottom:7px;cursor: pointer;
	display: block;color: #848484;	
}
.showlast{
	border-right: 1px solid #D4D4D4;
}
.itembox .noitem{
	background: #00A946;color: #FFFFFF;
}
.itembox .noitem:hover{
	background: #007B20;
}



.itpic {
 width:235px;
 height:235px;
 overflow:hidden;
 position:relative
}
.itpic img {
 width: 230px;
 height: 230px;
  transition: transform .3s ease-in;
}
.moveimg {
    position: absolute;
    left: 235px;
    top: 0;
} 

.fixnav{
	width: 100%;background: #FFFFFF;border-top:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;height: 50px;position: fixed;
	top: 0;z-index: 9999;display: none;box-shadow: 5px 5px 10px RGBA(42, 42, 42, 0.29)
}
.fixnavbox{
	width: 1200px;margin: 0 auto;
}
.fixnavbox ul{width: 860px;display: inline-block;}
.fixnavbox ul li{
	padding: 0 25px;line-height: 50px;
	float: left;font-size: 15px;
}
.fixnavbox ul li a{
	color: #333333;
}
.fixnavbox ul li:first-child{
	margin-left: 55px;
}
.fixnavbox a {
	line-height: 50px;color: #333333;
	display: inline-block;height: 50px;
}
.fixnavbox a span{
	padding: 0 10px;line-height: 50px;
	font-size: 15px;height: 50px;
    display: inline-block;vertical-align: top;
}
.fixnavbox a em{
	width: 24px;height: 24px;color: #FFFFFF;
	border-radius:50%;display: inline-block;font-size: 15px;
	background: #E73736;line-height: 24px;text-align: center;
	vertical-align: top;margin-top: 13px;
}
 
.prolist .proitem:nth-child(4n){ border-right:none!important}



 