<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.Brand">
    <id column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
  </resultMap>
  <sql id="Base_Column_List">
    brand_id, brand_name
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </select>

    <!--查询所有品牌-->
    <select id="selectAllByKindId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT distinct  brand_name,b.brand_id FROM tb_brand b JOIN
        tb_middle m JOIN tb_kind k on b.brand_id=m.brand_id
        and m.kind_id=k.kind_id where k.kind_id=#{kindId};
    </select>
</mapper>