<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.IntegralHistoryMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.IntegralHistory">
    <id column="ih_id" jdbcType="INTEGER" property="ihId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="integral_id" jdbcType="INTEGER" property="integralId" />
    <result column="ih_type" jdbcType="VARCHAR" property="ihType" />
    <result column="ih_integral_time" jdbcType="DATE" property="ihIntegralTime" />
    <result column="ih_notes" jdbcType="VARCHAR" property="ihNotes" />
  </resultMap>
  <sql id="Base_Column_List">
    ih_id, user_id, integral_id, ih_type, ih_integral_time, ih_notes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_integral_history
    where ih_id = #{ihId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_integral_history
    where ih_id = #{ihId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmj.wine.entity.IntegralHistory">
    insert into tb_integral_history (ih_id, user_id, integral_id, 
      ih_type, ih_integral_time, ih_notes
      )
    values (#{ihId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{integralId,jdbcType=INTEGER}, 
      #{ihType,jdbcType=VARCHAR}, #{ihIntegralTime,jdbcType=DATE}, #{ihNotes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zmj.wine.entity.IntegralHistory">
    insert into tb_integral_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ihId != null">
        ih_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integralId != null">
        integral_id,
      </if>
      <if test="ihType != null">
        ih_type,
      </if>
      <if test="ihIntegralTime != null">
        ih_integral_time,
      </if>
      <if test="ihNotes != null">
        ih_notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ihId != null">
        #{ihId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="integralId != null">
        #{integralId,jdbcType=INTEGER},
      </if>
      <if test="ihType != null">
        #{ihType,jdbcType=VARCHAR},
      </if>
      <if test="ihIntegralTime != null">
        #{ihIntegralTime,jdbcType=DATE},
      </if>
      <if test="ihNotes != null">
        #{ihNotes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmj.wine.entity.IntegralHistory">
    update tb_integral_history
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="integralId != null">
        integral_id = #{integralId,jdbcType=INTEGER},
      </if>
      <if test="ihType != null">
        ih_type = #{ihType,jdbcType=VARCHAR},
      </if>
      <if test="ihIntegralTime != null">
        ih_integral_time = #{ihIntegralTime,jdbcType=DATE},
      </if>
      <if test="ihNotes != null">
        ih_notes = #{ihNotes,jdbcType=VARCHAR},
      </if>
    </set>
    where ih_id = #{ihId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmj.wine.entity.IntegralHistory">
    update tb_integral_history
    set user_id = #{userId,jdbcType=INTEGER},
      integral_id = #{integralId,jdbcType=INTEGER},
      ih_type = #{ihType,jdbcType=VARCHAR},
      ih_integral_time = #{ihIntegralTime,jdbcType=DATE},
      ih_notes = #{ihNotes,jdbcType=VARCHAR}
    where ih_id = #{ihId,jdbcType=INTEGER}
  </update>
</mapper>