<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.Merchant">
    <id column="mt_id" jdbcType="INTEGER" property="mtId" />
    <result column="mt_name" jdbcType="VARCHAR" property="mtName" />
    <result column="mt_user" jdbcType="VARCHAR" property="mtUser" />
    <result column="mt_mobile" jdbcType="VARCHAR" property="mtMobile" />
    <result column="mt_type" jdbcType="VARCHAR" property="mtType" />
    <result column="mt_notes" jdbcType="VARCHAR" property="mtNotes" />
  </resultMap>
  <sql id="Base_Column_List">
    mt_id, mt_name, mt_user, mt_mobile, mt_type, mt_notes
  </sql>
  <!--根据id查询采购单-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_merchant
    where mt_id = #{mtId,jdbcType=INTEGER}
  </select>

  <!--查询所有采购单(分页查询)-->
  <select id="selectAllByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_merchant
    limit #{index},#{size};
  </select>

  <!--删除采购单-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_merchant
    where mt_id = #{mtId,jdbcType=INTEGER}
  </delete>

  <!--新建采购单-->
  <insert id="insert" parameterType="com.zmj.wine.entity.Merchant">
    insert into tb_merchant (mt_id, mt_name, mt_user, 
      mt_mobile, mt_type, mt_notes
      )
    values (#{mtId,jdbcType=INTEGER}, #{mtName,jdbcType=VARCHAR}, #{mtUser,jdbcType=VARCHAR}, 
      #{mtMobile,jdbcType=VARCHAR}, #{mtType,jdbcType=VARCHAR}, #{mtNotes,jdbcType=VARCHAR}
      )
  </insert>


</mapper>