<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.MiddleMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.Middle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kind_id" jdbcType="INTEGER" property="kindId" />
    <result column="subclass_id" jdbcType="INTEGER" property="subclassId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="yieldly_id" jdbcType="INTEGER" property="yieldlyId" />
    <result column="flavour_id" jdbcType="INTEGER" property="flavourId" />
    <result column="proof_id" jdbcType="INTEGER" property="proofId" />
    <result column="content_id" jdbcType="INTEGER" property="contentId" />
    <result column="price_group_id" jdbcType="INTEGER" property="priceGroupId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, kind_id, subclass_id, brand_id, yieldly_id, flavour_id, proof_id, content_id, 
    price_group_id, item_id
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_middle
    where id = #{id,jdbcType=INTEGER}
  </select>

<!--根据kindId查询-->
  <select id="selectAllByKindId" resultType="java.lang.Integer">
    select
    item_id
    from tb_middle
    where kind_id = #{kindId,jdbcType=INTEGER}
  </select>

  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from tb_middle-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->

  <select id="selectByTerm" resultType="java.lang.Integer">
    SELECT item_id FROM tb_middle
    <where>
      <if test="kindId != null">
        kind_id = #{kindId}
      </if>
      <if test="brandId != null">
        AND brand_id = #{brandId}
      </if>
      <if test="yieldlyId != null">
        AND yieldly_id = #{yieldlyId}
      </if>
      <if test="flavourId != null">
        AND flavour_id = #{flavourId}
      </if>
      <if test="proofId != null">
        AND proof_id = #{proofId}
      </if>
      <if test="contentId != null">
        AND content_id = #{contentId}
      </if>
      <if test="priceId != null">
        AND price_id = #{priceId}
      </if>
    </where>
  </select>


  <select id="selectYieldlyIdByTerm" resultType="java.lang.Integer">
    SELECT distinct yieldly_id FROM tb_middle
    <where>
      <if test="kindId != null">
        kind_id = #{kindId}
      </if>
      <if test="brandId != null">
        AND brand_id = #{brandId}
      </if>
      <if test="flavourId != null">
        AND flavour_id = #{flavourId}
      </if>
      <if test="proofId != null">
        AND proof_id = #{proofId}
      </if>
      <if test="contentId != null">
        AND content_id = #{contentId}
      </if>
      <if test="priceId != null">
        AND price_id = #{priceId}
      </if>
    </where>
  </select>

  <select id="selectFlavourIdByTerm" resultType="java.lang.Integer">
    SELECT distinct flavour_id FROM tb_middle
    <where>
      <if test="kindId != null">
        kind_id = #{kindId}
      </if>
      <if test="brandId != null">
        AND brand_id = #{brandId}
      </if>
      <if test="yieldlyId != null">
        AND yieldly_id = #{yieldlyId}
      </if>
      <if test="proofId != null">
        AND proof_id = #{proofId}
      </if>
      <if test="contentId != null">
        AND content_id = #{contentId}
      </if>
      <if test="priceId != null">
        AND price_id = #{priceId}
      </if>
    </where>
  </select>

  <select id="selectProofIdByTerm" resultType="java.lang.Integer">
    SELECT distinct proof_id FROM tb_middle
    <where>
      <if test="kindId != null">
        kind_id = #{kindId}
      </if>
      <if test="brandId != null">
        AND brand_id = #{brandId}
      </if>
      <if test="yieldlyId != null">
        AND yieldly_id = #{yieldlyId}
      </if>
      <if test="flavourId != null">
        AND flavour_id = #{flavourId}
      </if>
      <if test="contentId != null">
        AND content_id = #{contentId}
      </if>
      <if test="priceId != null">
        AND price_id = #{priceId}
      </if>
    </where>
  </select>

  <select id="selectContentIdByTerm" resultType="java.lang.Integer">
    SELECT distinct content_id FROM tb_middle
    <where>
      <if test="kindId != null">
        kind_id = #{kindId}
      </if>
      <if test="brandId != null">
        AND brand_id = #{brandId}
      </if>
      <if test="yieldlyId != null">
        AND yieldly_id = #{yieldlyId}
      </if>
      <if test="flavourId != null">
        AND flavour_id = #{flavourId}
      </if>
      <if test="proofId != null">
        AND proof_id = #{proofId}
      </if>
      <if test="priceId != null">
        AND price_id = #{priceId}
      </if>
    </where>
  </select>

  <select id="selectPriceByTerm" resultType="java.lang.Integer">
    SELECT distinct price_group_id FROM tb_middle
    <where>
      <if test="kindId != null">
        kind_id = #{kindId}
      </if>
      <if test="brandId != null">
        AND brand_id = #{brandId}
      </if>
      <if test="yieldlyId != null">
        AND yieldly_id = #{yieldlyId}
      </if>
      <if test="flavourId != null">
        AND flavour_id = #{flavourId}
      </if>
      <if test="proofId != null">
        AND proof_id = #{proofId}
      </if>
      <if test="contentId != null">
        AND content_id = #{contentId}
      </if>
    </where>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_middle
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_middle
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.zmj.wine.entity.Middle">
    insert into tb_middle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kindId != null">
        kind_id,
      </if>
      <if test="subclassId != null">
        subclass_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="yieldlyId != null">
        yieldly_id,
      </if>
      <if test="flavourId != null">
        flavour_id,
      </if>
      <if test="proofId != null">
        proof_id,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
      <if test="priceGroupId != null">
        price_group_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kindId != null">
        #{kindId,jdbcType=INTEGER},
      </if>
      <if test="subclassId != null">
        #{subclassId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="yieldlyId != null">
        #{yieldlyId,jdbcType=INTEGER},
      </if>
      <if test="flavourId != null">
        #{flavourId,jdbcType=INTEGER},
      </if>
      <if test="proofId != null">
        #{proofId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="priceGroupId != null">
        #{priceGroupId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zmj.wine.entity.Middle">
    update tb_middle
    <set>
      <if test="kindId != null">
        kind_id = #{kindId,jdbcType=INTEGER},
      </if>
      <if test="subclassId != null">
        subclass_id = #{subclassId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="yieldlyId != null">
        yieldly_id = #{yieldlyId,jdbcType=INTEGER},
      </if>
      <if test="flavourId != null">
        flavour_id = #{flavourId,jdbcType=INTEGER},
      </if>
      <if test="proofId != null">
        proof_id = #{proofId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null">
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
      <if test="priceGroupId != null">
        price_group_id = #{priceGroupId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>