<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.PriceMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.Price">
    <id column="price_id" jdbcType="INTEGER" property="priceId" />
    <result column="price_name" jdbcType="VARCHAR" property="priceName" />
  </resultMap>
  <sql id="Base_Column_List">
    price_id, price_name
  </sql>
  <!--根据id查询价格区间-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_price
    where price_id = #{priceId,jdbcType=INTEGER}
  </select>

  <!--查询所有的价格区间-->
  <select id="selectAllByKindId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT distinct price_name,p.price_id FROM tb_price p JOIN tb_middle m
    on p.price_id=m.price_group_id JOIN tb_kind k
    on m.kind_id=k.kind_id where k.kind_id=#{kindId};
  </select>
</mapper>