<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.SubclassMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.Subclass">
    <id column="subclass_id" jdbcType="INTEGER" property="subclassId" />
    <result column="subclass_name" jdbcType="VARCHAR" property="subclassName" />
  </resultMap>
  <sql id="Base_Column_List">
    subclass_id, subclass_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_subclass
    where subclass_id = #{subclassId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_subclass
    where subclass_id = #{subclassId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmj.wine.entity.Subclass">
    insert into tb_subclass (subclass_id, subclass_name)
    values (#{subclassId,jdbcType=INTEGER}, #{subclassName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmj.wine.entity.Subclass">
    insert into tb_subclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subclassId != null">
        subclass_id,
      </if>
      <if test="subclassName != null">
        subclass_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subclassId != null">
        #{subclassId,jdbcType=INTEGER},
      </if>
      <if test="subclassName != null">
        #{subclassName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmj.wine.entity.Subclass">
    update tb_subclass
    <set>
      <if test="subclassName != null">
        subclass_name = #{subclassName,jdbcType=VARCHAR},
      </if>
    </set>
    where subclass_id = #{subclassId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmj.wine.entity.Subclass">
    update tb_subclass
    set subclass_name = #{subclassName,jdbcType=VARCHAR}
    where subclass_id = #{subclassId,jdbcType=INTEGER}
  </update>
</mapper>