<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.wine.dao.UserRolesMapper">
  <resultMap id="BaseResultMap" type="com.zmj.wine.entity.UserRoles">
    <id column="_id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
  </resultMap>
  <sql id="Base_Column_List">
    _id, role_name, username, role_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_roles
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_roles
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmj.wine.entity.UserRoles">
    insert into user_roles (_id, role_name, username, 
      role_type)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmj.wine.entity.UserRoles">
    insert into user_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        _id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmj.wine.entity.UserRoles">
    update user_roles
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmj.wine.entity.UserRoles">
    update user_roles
    set role_name = #{roleName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR}
    where _id = #{id,jdbcType=INTEGER}
  </update>
</mapper>